{{define "content"}}

<h1 class="text-3xl font-bold mb-8 mt-8">Home</h1>

<!-- <button hx-get="/challenge" hx-target="body" hx-push-url="true">Go to challenge</button> -->

<!-- login github button -->

<a href="/github_login" class="bg-gray-900 text-white px-4 py-2 rounded-md">Login with Github</a>


{{end}}