{{define "content"}}

<h1 class="text-3xl font-bold mb-8 mt-8">User - {{.name}}</h1>

<p class="mb-4">This user email is {{.email}}</p>

<button hx-get="/" hx-target="body" hx-push-url="true" class="bg-gray-900 text-white px-4 py-2 rounded-md">Go to
  home</button>


{{end}}